.sidebar {
  display: flex;
  padding-right: 100px;
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  padding: 0 15px;
}

.sidebar__username {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.sidebar__buttons {
  padding-bottom: 8px;
}

.sidebar__button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 1;
  bottom: 8px;
}